body{
    background-color: #44c8f5;
}

*{
    font-family:monospace;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}
section {
    display: flex;
}
.sem{
    margin: 5px;
    width: 250px;
    height: 400px;
    background-color: white;
}
